* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}
.Main {
  display: flex;
  justify-content: space-between;
}
.Profile {
  background-color: #fafafa;
  width: 460px;
  height: 100vh;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Profile > div:nth-child(1) {
  align-self: center;
}
.Profile p {
  margin: 0.4em 0 1em;
  font-size: 14px;
  font-weight: 400;
}
.Person {
  text-align: center;
}
.Person img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}
.Person h1 {
  margin: 0.4em 0 0.2em;
  font-size: 18px;
  font-weight: 700;
}
.Person h2 {
  font-size: 16px;
  font-weight: 600;
}
.Contact {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Contact a {
  background-color: #2e2e2e;
  width: 48px;
  height: 45px;
  margin: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}
.Contact a:hover {
  background-color: #f40057;
}
.Info > span {
  font-size: 16px;
  font-weight: 700;
}
.Info > div {
  margin: 0.4em 0;
  display: flex;
  flex-wrap: wrap;
}
.Info > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
}
.Info > div:nth-of-type(1) ul {
  margin: 0 2em 0.4em;
}
.Info > div:nth-of-type(1) a {
  color: #222;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
.Info > div:nth-of-type(1) a:hover {
  color: #f40057;
}
.Item {
  background-color: #fff;
  margin: 0.4em;
  padding: 0.8em;
  border-radius: 32px;
  box-shadow: 0 0 4px 2px #e2e2e2;
}
.Item > span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.Item > span i {
  margin-right: 0.4em;
}
.Projects-Section {
  background-color: #fafafa;
  width: calc(100vw - 460px);
  height: 100vh;
  padding: 1em;
  box-shadow: inset 0 12px 12px 0 #e2e2e2;
}
.Projects-Container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Projects-Container button {
  background-color: transparent;
  padding: 1em;
  border: none;
  font-size: 18px;
  outline: 0;
  cursor: pointer;
}
.Projects-Container button:hover i {
  color: #f40057;
}
.Project {
  position: absolute;
  width: calc(100% - 136px);
  height: 100%;
  left: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Project > img {
  width: 400px;
  height: 80%;
  margin-left: 1em;
  object-fit: cover;
  object-position: top;
  box-shadow: 0 0 12px 0 #e2e2e2;
  border-radius: 12px;
}
.Project:nth-of-type(2) > img {
  object-fit: contain;
  object-position: center;
}
.noShow {
  display: none;
}
.Project > div {
  width: 100%;
  height: 260px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #222;
}
.Project-Detail {
  margin-left: 1em;
}
.Project-Detail > span {
  font-size: 24px;
  font-weight: 700;
}
.Project-Detail > p {
  font-size: 14px;
  font-weight: 400;
}
.Tags {
  margin: 0.4em 0 0.8em;
}
.Tags span {
  margin-right: 0.4em;
  font-size: 14px;
  font-weight: 600;
}
.Link {
  display: flex;
  align-self: flex-end;
  align-items: center;
}
.Link > a {
  background-color: #fff;
  margin: 0.5em;
  padding: 0.8em 1.2em;
  border-radius: 6px;
  box-shadow: 0 0 4px 2px #e2e2e2;
}
.Link > a {
  color: #222;
  font-weight: 700;
  text-decoration: none;
}
.Link > a:hover {
  background-color: #f40057;
  color: #fff;
}
.Link > a:hover,
.Link > a:hover > i {
  color: #fff;
}
@media only screen and (max-width: 1441px) {
  .Main {
    flex-direction: column;
    align-items: center;
  }
  .Profile {
    width: 100%;
    height: auto;
    padding: 2em 2em 0;
    align-items: center;
    box-shadow: none;
    text-align: center;
  }
  .Profile p {
    width: 50%;
  }
  .Info {
    margin-top: 1em;
  }
  .Info > div {
    margin-bottom: 1.4em;
  }
  .Info > div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Info > div:nth-of-type(1) ul li {
    list-style: none;
  }
  .Projects-Section {
    width: 100%;
    height: 680px;
  }
  .Project > img {
    width: 620px;
  }
}
@media only screen and (max-width: 769px) {
  .Projects-Section {
    width: 100%;
    height: 480px;
  }
  .Project {
    flex-direction: column;
    box-shadow: 0 0 12px 0 #e2e2e2;
    border-radius: 12px;
    overflow: hidden;
  }
  .Project > img {
    width: 100%;
    height: calc(100% - 220px);
    margin-left: 0;
    box-shadow: 0 0 4px 0 #e2e2e2;
    border-radius: 0;
  }
  .Project > div {
    height: 220px;
  }
  .Project-Detail {
    margin-left: 0;
  }
}
@media only screen and (max-width: 426px) {
  .Profile {
    padding: 1em 1em 0;
  }
  .Profile p {
    width: 100%;
  }
  .Info a,
  .Profile p {
    font-size: 14px;
  }
  .Contact a {
    font-size: 12px;
  }
  .Info > span {
    font-size: 16px;
  }
  .Item > span {
    font-size: 10px;
  }
  .Projects-Container button {
    display: none;
  }
  .Projects-Container {
    flex-wrap: wrap;
  }
  .Project {
    width: 100%;
    height: 420px;
    position: unset;
    margin: 1em 0;
  }
  .Projects-Container > .Project:nth-of-type(2) {
    background: url(images/2.webp) center 25px no-repeat;
    background-size: contain;
  }
  .Project-Detail > span {
    font-size: 18px;
  }
  .Project-Detail > p {
    font-size: 12px;
  }
  .Link > div a {
    font-size: 14px;
  }
}
